[Unit]
Description=Schedule for permtracker-cron@dispatch-pwd-weekly-full
[Timer]
OnCalendar=Sun *-*-* 10:40:00 UTC
Persistent=true
Unit=permtracker-cron@dispatch-pwd-weekly-full.service
[Install]
WantedBy=timers.target
