[Unit]
Description=Schedule for permtracker-cron@dispatch-processing-times
[Timer]
OnCalendar=*-*-* 07:00:00 UTC
Persistent=true
Unit=permtracker-cron@dispatch-processing-times.service
[Install]
WantedBy=timers.target
