[Unit]
Description=Schedule for permtracker-uscis@quarterly
[Timer]
OnCalendar=*-*-17 10:50:00 America/New_York
Persistent=true
Unit=permtracker-uscis@quarterly.service
[Install]
WantedBy=timers.target
